.content {
  width: 1200px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10%;
  margin-left: 20%;
  padding: 100px;
  color: white;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0)
    ),
    url(../images/BartoszKaczmarek.png);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;

  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
}
.content p,
.content h1,
.content span,
.content a {
  align-self: start;
}

.who-am-i {
  font-size: 1.5rem;
}

.content h1 {
  margin-top: 0;
  color: #3a4b5c;
  font-size: 2.5rem;
  font-weight: 600;
}

.hello {
  font-size: 2rem;
  margin-bottom: 0;
  color: #3a4b5c;
}
